.imgBestSeller{
      border-radius: 60%;
      width: 7%;
      height: 7%;
      margin-left: 20px;
      margin-right: 20px;
}

.txtmargin{
      margin: 20px;
}

.img-div{
      align-items: center;
      justify-content: center;
      display: flex;
}

.addItem-div{
      align-items: center;
      justify-content: center;
      display: flex;
      width: 100%;
      height: 85vh;
}

.addItem-card {
      width: 60%;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.txtlabel{
      color: black;
      text-align: left;
}

.form-addItem{
      text-align: left;
      position: relative;
      top:10%;
      font-family: "Raleway", sans-serif;
}

.form-control {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
}

.tname-form-control{
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
}

.addremove-div{
      height: 25vh;
      background-color: aqua;
      padding: 0 10%;
}

.name-fields {
      display: flex;
      flex-wrap: wrap; /* Ensures fields wrap on smaller screens */
      gap: 10px; /* Adjust spacing between fields */
  }
  
.first-name, .last-name {
      width: 48%;
}

.first-feature, .last-feature {
      width: 38%;
}

.features-fields{
      align-items: center;
      justify-content: center;
      display: flex;
      flex-wrap: wrap; /* Ensures fields wrap on smaller screens */
      gap: 10px;
}

.img-add-div{
      height: 25vh;
      background-color: aqua;
      padding: 0 10%;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-wrap: wrap; /* Ensures fields wrap on smaller screens */
      gap: 10px;
}

.first-img{
      width: 18%;
      height:65%;
      background-color: antiquewhite;
}

.third-img{
      width: 18%;
      height:65%;
      background-color: antiquewhite;
}

.second-img{
      width: 18%;
      height:65%;
      background-color: antiquewhite;
}