.icon-buttons {
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
    margin: 20px;
    margin-left: 100px;
   
}

.button-icon {
    justify-content: center;
    margin: 50px;
    gap: 50px;
}

.main-container {
    display: flex;
    justify-content: space-between;
    padding: 0% 10%;
    background-color: #f0f0f0;
    height: auto;  
    
}

.column {
    margin: 10px 10px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y:auto;
    height: auto;
}

.column1 {
   flex: 0 0 20%;
}

.column2 {
   flex: 0 0 30%;
}

.column3 {
   flex: 0 0 50%;
   height: 50%;
}

.column1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    .main.container {
        flex-direction: column;
        padding: 20px 5%;
        height: auto;
    }
    .column {
        margin: 10px 0;
        flex: 1 0 auto;
    }
}

.image-content {
    width: 80%;
    color: black;
    backdrop-filter: blur(64px);
    display: flex; /* Use flexbox for layout */
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 4rem;
    min-height: 30vh;
    max-height: 80vh;
    border-radius: 30px;
    border: none;
    z-index: 2;
    padding: 3%;
    text-align: center; /* Center-align text inside the card */
    flex-wrap: wrap;
}

.image-section {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-content-text {
    flex: 1;
    padding: 20px;
}
  
.image-body1 {
    flex: 1; /* Allow the image body to grow and shrink */
    display: flex; /* Use flexbox to center the image */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    margin: 10px 0; /* Optional: Add some space between images */
    height: 130px;
    width: 130px;
}

.image-body2 {
    flex: 1;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}

.image-body3 {
    flex: 1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.image-body1 img {
    width: 100%; /* Ensure the images take full width of the container */
    height: auto; /* Maintain the aspect ratio */
    transition: transform 0.3s ease; /* Add transition for smooth effect */
}

.image-body2 img {
    width: 100%; /* Ensure the images take full width of the container */
    height: auto; /* Maintain the aspect ratio */
    transition: transform 0.3s ease; /* Add transition for smooth effect */
    object-fit: cover;
}

  .image-body img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease; /* Add transition for smooth effect */
  }
  
  .image-content:hover .image-content-text{ 
    transform: rotateX(6deg) rotateY(10deg);
    box-shadow: 10px 5px 8px rgba(172, 69, 141, 0.65);
    transition: all 300ms ease-in-out;
  }
  
  .image-content:hover .image-body img{ 
    transform: rotateX(6deg) rotateY(10deg);
    box-shadow: 10px 5px 8px rgba(172, 69, 141, 0.65);
    transition: all 300ms ease-in-out;
  }
  
  .content-section {
    position: relative;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-section-text {
    background-color: red;
    width: 100%;
    text-align: left;
  }

  .home-card {
    width: 80%;
  }

  .para1 {
    text-align: left;
  }
  
  @media (max-width: 480px) {
    .text-container {
        padding: 5px; /* Further adjust padding for very small screens */
    }
    .card-section-text{
      width:100%;
    }
  }
  